== p t('.title'), bold: true, font_size: '21px', color: '#000', text_align: 'center'
== p t('.inviter_invited_you_to_join_board', inviter: @inviter.fullname_or_username), color: '#000', text_align: 'center'

== join_board_block(@board)
