.card.card-block.new.p-0
  = simple_form_for @new_card, url: board_column_cards_path(@board, @column), remote: true do |f|
    = f.input :card_order_position, as: :hidden, input_html: { value: 0 }
    = f.input :title, label: false, as: :text
