$('#card-title').html('<%= j render(partial: "card_title_edit") %>');

var orginalTitleHtml = '<%= link_to edit_title_card_path(@card), class: "editable", remote: true do %><h4 class="modal-title"><%= j @card.title %></h4><% end %>';

$('*[data-behavior="cancel-edit"]').on('click', function() {
  $('#card-title').html(orginalTitleHtml);
});

$('#mainModal').on('hide.bs.modal', function(event) {
  if ($('form#edit_card_<%= @card.id %>').length > 0) {
    event.preventDefault();
    selectFirstActiveInput();
  }
});

selectFirstActiveInput();

$('form').keyup(function(event) {
  if (event.keyCode == 27) { // escape key
    $('#card-title').html(orginalTitleHtml);
  }
});
