#activities, #card-activities
  .card
    padding: .6rem
    color: #55595c
  .media-body
    .description
      position: relative
      bottom: 4px
      span.author
        font-weight: 700
    small.timestamp
      position: relative
      bottom: 13px
    a
      text-decoration: underline
