.floating-menu
  position: fixed
  top: 0
  background-color: #edeff0
  height: 100%
  width: 336px
  right: -21rem
  z-index: 1030
  box-shadow: 0 0 6px rgba(0,0,0,.4)
  transition: right .25s ease-in-out
  -moz-transition: right .25s ease-in-out
  -webkit-transition: right .25s ease-in-out
  .floating-menu-header
    height: 46px
    padding: .7rem 1rem
    text-align: center
    h2
      font-size: 18px
      padding-top: 1px
    svg
      fill: #999
      margin-top: 2px
      cursor: pointer
      position: absolute
      &[data-behavior="move-back-floating-menu"]
        left: 1rem
        display: none
      &[data-behavior="close-floating-menu"]
        right: 1rem
    & + hr
      margin: 0
  .floating-menu-body
    position: relative
    height: 100%
    .floating-menu-options
      a
        outline: 0
        display: block
        padding: .3rem .5rem
        .media
          padding: .2rem
          .media-left
            .menu-icon
              color: #aaa
              font-size: 1.8rem
              line-height: 1
            .board-member
              margin: 0
        &:hover
          background-color: rgba(0, 0, 0, .1)
          border-radius: 3px
        &:focus
          text-decoration: none
      .media
        padding: .3rem .5rem
        .media-left
          .board-member
            margin: 0
        .media-body
          .chosen-container
            position: absolute
  &.show
    right: 0
    transition: right .25s ease-in-out
    -moz-transition: right .25s ease-in-out
    -webkit-transition: right .25s ease-in-out
