.modal
  .modal-title
    font-weight: 700
    color: #727172
    font-size: 1.4rem
  .modal-sub-title
    font-weight: 700
    color: #727172
    font-size: 1.0rem
  .modal-body
    color: #aaa
    a:not(.btn)
      color: #aaa
      font-weight: 600
      &:hover
        color: #4e4e4e
  .card-icon
    margin-top: 4px
    fill: #aaa
