@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

$body-bg: #edeff0;
$body-color: #4d4d4d;

$link-color: #444;
$link-hover-color: #111;

$headings-font-weight: 700;

$navbar-border-radius: 0;
$navbar-padding-x: 5px;
$navbar-padding-y: 1px;
$navbar-dark-color: rgba(255, 255, 255, 1);

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$modal-content-bg: #EDEFF0;

$form-group-margin-bottom: .5rem;

$popover-title-bg: #fff;

$list-group-border-color: #fff;

@import "tether";
@import "bootstrap";
@import "perfect-scrollbar";
@import "dragula";
@import "modal-responder-no-header";
@import "pace/white/pace-theme-flash";
@import "chosen";

@import "style/*";

@import "sento-font";
